/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

/* root vars  */
:root {
    --primary-font: 'Nunito', sans-serif;
    --primary-color: #FF900E;
    --primary-color-transparent: hsla(32, 100%, 53%, 0.100);
    --primary-padding: 50px 200px;
}

/* defautl css  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

img {
    max-width: 100%;
}

.primary-btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.primary-btn:hover {
    background-color: black;
    box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.5);
}

/* header css  */
.header {
    padding: 20px 200px;
    background-color: var(--primary-color-transparent);
}

/* header menu  */
.navbar {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    color: black;
    font-size: 25px;
    line-height: 52px;
}

.navbar>ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar>ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}


/* header contents  */
.header-content {
    text-align: center;
}

.header-caption {
    font-size: 48px;
    margin-top: 20px;
}

.header-text {
    margin: 40px 0;
    font-size: 18px;
    padding: 0 50px;
    font-weight: 500;
}

.header-btn {
    margin-bottom: 20px;
}

.hero-img img {
    width: 100%;
    margin-top: 30px;
}



/* team feature css  */
.team-feature-section {
    padding: var(--primary-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-feature-images {
    max-width: 48%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.team-feature-image {
    overflow: hidden;
}

.team-feature-image img {
    width: 100%;
    height: 100%;
    transition: .4s;
}

.team-feature-image:hover img {
    filter: grayscale(100%);
    transform: scale(1.3);
}

.team-feature-contents {
    width: 46%;
}

.team-feature-title {
    font-size: 32px;
    color: black;
}

.team-feature-title b {
    color: black;
    font-weight: 700;
}

.team-feature-title span {
    color: var(--primary-color);
    font-weight: 700;
}

.team-feature-text {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}



/* feature css  */
.feature-section {
    padding: var(--primary-padding);
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: relative;
}

.features-image-container {
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
}


.feactures-card-container {
    width: 44%;
}

.features-image-container img {
    width: 100%;
}

.features-header {
    margin: 0px 0px 18px 15px;
    position: relative;
    font-size: 30px;
    font-weight: 700;
}

.features-header::after {
    content: "";
    width: 4px;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    left: -15px;
    top: 0;
    border-radius: 5px;
}

.features-text {
    font-size: 18px;
    margin: 0px 0;
}

.features-card {
    padding: 15px;
    box-shadow: 0 0 5px 2px rgba(198, 198, 198, 0.213);
    border-radius: 10px;
    margin: 15px 0;
}

.exprience-card {
    position: absolute;
    padding: 30px 35px;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    border-radius: 10px;
    top: 79%;
    left: 48%;
}

.exprience-card h3 {
    font-size: 30px;
    line-height: 40px;
}


/* some facts css  */
.some-facts-section {
    padding: var(--primary-padding);
}

.some-facts-text {
    font-size: 18px;
    margin: 20px 0;
    line-height: 20px;
}


.some-facts-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
}


.some-facts-card {
    background-color: rgba(255, 143, 14, 0.100);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    font-weight: 800;
    color: black;
    transition: .3s;
}

.some-facts-card:hover {
    transform: scale(1.1);
    background-color: var(--primary-color);
    color: white;
}


.some-facts-card-number {
    font-size: 24px;
    margin: 5px 0 0;
}

.some-facts-card-text {
    font-size: 14px;
}